<nav class="navbar navbar-expand-lg navbar-dark bg-primary" aria-label="Main navigation">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Datting App</a>
    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="loggedIn()">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']" >Matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/lists']">Lists</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/messages']">Messages</a>   
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li> -->
        </ul>

        <div class="dropdown" dropdown *ngIf="loggedIn()">
          <span style="margin-right: 10px;">
            <img src="{{authService.currentUser?.photoUrl || '../../../../../assets/images/user.png'}}" alt="">
          </span>
          <a class="dropdown-toggle text-light" style="text-decoration: none;" dropdownToggle>
            Welcome {{authService.decodeToken?.unique_name}}
          </a>
        
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['member/edit']"><i class="fa fa-user"></i>Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
          </div>
        </div>


        <form *ngIf="!loggedIn()" #loginForm ="ngForm" class="d-flex" (ngSubmit)="login()">
          <input class="form-control me-2" type="text" placeholder="Username" name="username" required [(ngModel)]="model.username">
          <input class="form-control me-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
  </nav>